.university-manage .card-header[data-v-3f421c15]{display:flex;justify-content:space-between;align-items:center}.university-manage .card-header .header-actions[data-v-3f421c15]{display:flex;align-items:center}
