.verification-manage .card-header[data-v-b7a72143]{display:flex;justify-content:space-between;align-items:center}.verification-manage .card-header .header-actions[data-v-b7a72143]{display:flex;align-items:center}
