.crowdfunding-manage .card-header[data-v-6ba14cc3]{display:flex;justify-content:space-between;align-items:center}.crowdfunding-manage .card-header .header-actions[data-v-6ba14cc3]{display:flex;align-items:center}
