.notification-manage .card-header[data-v-10a4d280]{display:flex;justify-content:space-between;align-items:center}.notification-manage .card-header .header-actions[data-v-10a4d280]{display:flex;align-items:center}
